@import "bootstrap/dist/css/bootstrap.min.css";

body {
    gap: 20px;
    background: green;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}

.card {
    width: 250px;
    height: 350px;
    border-radius: 15px;
    background: white;
}

.corner {
    position: absolute;
    font-size: 50px;
    
}

.top-left {
    top: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}